<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="header-emre">
  <template>
    <style>
      :host {
        display: block;
        height: 70px;
        background-color: #103c42;
        color: #dedede;
        padding: 15px;
        box-sizing: border-box;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }

      .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        margin: 0 10px;
      }

      :host .titletitle {
        font-family: 'Source Code Pro', monospace, 'Orbitron', serif, 'Josefin Slab', serif, 'Rajdhani', sans-serif;
        text-align: center;
        font-size: 1.8em;
        font-weight: 600;
      }

      :host .imgimg {
        max-height: 40px;
        max-width: 40px;
        object-fit: fill;
      }
    </style>

    <div class="container">
      <img src="../images/poly.png" class="imgimg" alt="">
      <span class="titletitle">Sign in</span>
      <img src="../images/pingo.png" class="imgimg" alt="">
    </div>

  </template>

  <script>
    /**
     * `header-emre`
     * Header component
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeaderEmre extends Polymer.Element {
      static get is() { return 'header-emre'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Title'
          }
        };
      }
    }

    window.customElements.define(HeaderEmre.is, HeaderEmre);
  </script>
</dom-module>
